/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
	.wrapper > section {
		position: relative;
		left: -15px;
		width: 100%;
		overflow-x: hidden;
	}
	.wrapper > section > p {
		position: relative;
		left:10px;
	}
	#footer-wrapper {
		display: none;
	}
	.wrapper > section > div {
		position: relative;
		left:-5px;
	}
	.input {
		position: relative;
	}
	.input-numeric {
		left: -20px;
		width: 50px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	/* Styles */
	.simulator-canvas {
		position: fixed;
		left: 0px;
		top: 205px;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	/* Styles */
	.simulator-canvas {
		position: relative;
		left: -325px;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
