.element-valid {
  background: white;
}
.element-invalid {
  background: red;
}
.input-delete {
  border: 1px #333 solid;
  width: 20px;
  height: 20px;
  border-radius: 11px;
}
.input-element {
  width: 30px;
}
#help-div {
  position:absolute;
  border-color: #252525;
  background: red;
  border-width: 2px;
  border-radius: 10px;
}
#footer-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #272727;
  border-color: #151515;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 100%;
  height: 25px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
#footer-wrapper button{
  height: 20px;
}
#btm-arrow {
  font-size: 20px;
  border-width: 40px;
  /*position: fixed;
  bottom: 0px;
  width: 20px;*/
  border-radius: 30px;
  transform:scale(1,2); /* W3C */
  -webkit-transform:scale(1,2); /* Safari and Chrome */
  -moz-transform:scale(1,2); /* Firefox */
  -ms-transform:scale(1,2); /* IE 9 */
  -o-transform:scale(1,2); /* Opera */
  position: relative;
  overflow: hidden;
  height: 20px;
  top: 50px;
}
#btm-arrow.active:hover {
	-webkit-animation-name: rt_clockwise;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}
#btm-arrow.inactive:hover {
	-webkit-animation-name: rt_cclockwise;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}
#btm-arrow.inactive:not(:hover) {
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}
/*animations*/
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@-webkit-keyframes rt_clockwise {
	0% {		-webkit-transform:  rotate(000deg); }
	10% {		-webkit-transform:  rotate(018deg); }
	20% {		-webkit-transform:  rotate(036deg); }
	30% {		-webkit-transform:  rotate(054deg); }
	40% {		-webkit-transform:  rotate(072deg); }
	50% {		-webkit-transform:  rotate(090deg); }
	60% {		-webkit-transform:  rotate(108deg); }
	70% {		-webkit-transform:  rotate(126deg); }
	80% {		-webkit-transform:  rotate(144deg); }
	90% {		-webkit-transform:  rotate(162deg); }
	100% {	-webkit-transform: 	rotate(180deg); }
}
@-webkit-keyframes rt_ccockwise {
	0% {		-webkit-transform:  rotate(180deg); }
	10% {		-webkit-transform:  rotate(162deg); }
	20% {		-webkit-transform:  rotate(144deg); }
	30% {		-webkit-transform:  rotate(126deg); }
	40% {		-webkit-transform:  rotate(108deg); }
	50% {		-webkit-transform:  rotate(090deg); }
	60% {		-webkit-transform:  rotate(072deg); }
	70% {		-webkit-transform:  rotate(054deg); }
	80% {		-webkit-transform:  rotate(036deg); }
	90% {		-webkit-transform:  rotate(018deg); }
	100% {	-webkit-transform: 	rotate(000deg); }
}
/*animation classes*/
.animation-spaceboots {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.animation-rt_clockwise {
	-webkit-animation-name: rt_clockwise;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}
.animation-rt_cclockwise {
	-webkit-animation-name: rt_clockwise;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}
